extends _partials/layout

block title
  title Contact Us | MB Living
  meta(name="description" content="Contact MB Living today for high quality property development in Staffordshire & Cheshire.")

block content
  section.contact-us
    .container
      .h2-flourishes.container
        .flourish
        h2 Contact Us
        .flourish
    .split-container.dark-pattern.gold-border
      .split.vertical-center-content
        .contain
          h3 To learn more about our homes or to book a viewing, please #[a.gold(href="tel:+447812132443") call] or #[a.gold(href="mailto:info@mbliving.co.uk") email] us.
      .split
        img(src="/images/gallery/1500/twin-detached-rear.jpg")
  .container
    .split-container.contact-info
      .split-3
        .contact-info-icon
          img.contact-info-icon-phone(src="/images/icons/phone.svg")
        h4 Call
        a(href="tel:+447812132443").black 07812 132443
      .split-3
        .contact-info-icon
          img.contact-info-icon-email(src="/images/icons/envelope.svg")
        h4 Email
        a(href="mailto:info@mbliving.co.uk").black info@mbliving.co.uk
      .split-3
        .contact-info-icon
          img.contact-info-icon-map(src="/images/icons/map-pin.svg")
        h4 Find Us
        p MB Living Ltd #[br]Barlaston #[br]Staffordshire