.container
  width 100%
  box-sizing border-box
  max-width $breakpointLarge
  margin 0 auto
  padding 0 $containerPadding
  position relative

.row, section
  width 100%
  clear both

.grey
  background-color $lightGrey

.primary
  background-color $primaryColor

.no-margin
  margin 0 !important

.no-padding
  padding 0 !important

.centered
  margin 0 auto

.center-content
  display flex
  flex-direction column
  align-items center
  justify-content center
  text-align center

.space-between
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  width 100%

  &-group
    display flex
    align-items center

.split
  width calc(50% - $containerPadding)

  &-3
    width calc(33.333% - $containerPadding)

  &-4
    width calc(25% - $containerPadding)

  &-container
    display flex
    justify-content space-between
    flex-wrap wrap

@media(max-width: $breakpointSmall)
  .container
    padding 0 ($containerPadding / 2)

  .split
    width 100%

  