breakpointLarge = 960px
breakpointSmall = 767px
breakpointXSmall = 360px

containerPadding = 4rem

primaryColor = #CCBB81

linkColor = #CCBB81

richBlack = #1c1c1c
richBlackAccent = #2c2c2c
lightGrey = #f8f8f8
mbGold = #CCBB81

montserrat = "Montserrat Regular", Helvetica, Arial, sans-serif
colonna = "Colonna MT", Helvetica, Arial, sans-serif
mbGeorgia = Georgia, Times, 'Times New Roman', serif