mixin ampFooter
  .amp-footer
    .container
      .split-container
        p.no-margin © Copyright MB Living 2017
        p.no-margin Website by #[a(href="https://amp.studio" target="_blank") Amp Studio]