mixin navigation
  nav.dark-pattern
    .container.dark-pattern
      a(href="/").nav-logo
        img(src='/images/logo/logo-main.svg' alt='MB Living logo')
      .nav-menu-toggle Menu
        .nav-menu-toggle-icon
          .nav-menu-toggle-icon-bar
          .nav-menu-toggle-icon-bar
          .nav-menu-toggle-icon-bar
      ul.nav-menu(aria-expanded="false")
        li 
          a(href="/#about" data-scroll="#about").scroll About
        li 
          a(href="/#developments").scroll Developments
        li 
          a(href="/#gallery").scroll Gallery
        li 
          a(href="/#testimonials").scroll Testimonials
        li 
          a(href="/contact") Contact